<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
	<connectionStrings>
		<add name="Bearings" connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=C:\All\dotNET\University_ModernProgrammingTechnologies\University_ModernProgrammingTechnologies_Lab1\Bearings.mdf;Integrated Security=True"/>
	</connectionStrings>
</configuration>